{% extends admin_layout %}

{% block layout %}
    <ol class="breadcrumb">
        <li>
            <a href="{{ path('rcmAdminIndex') }}">Administration</a>
        </li>
        <li>
            <a href="{{ path('admin_blog_post') }}">Articles</a>
        </li>
        <li class="active">Modifier un article</li>
    </ol>

    <p>
        <img src="{{ entity.picture.getwebpath|default('uploads/post_images/no-image.jpg')|imagine_filter('post_pict_show') }}"
             alt="image_post_{{ entity.id }}" class="img-responsive img-thumbnail"/>

    </p>

    <div class="form_perso">
        {{ form(edit_form) }}
    </div>

    {{ form(delete_form) }}

{% endblock %}

{% block stylesheets %}
    {% stylesheets
    '@RudakBlogBundle/Resources/public/css/redactor.css' %}
    <link rel="stylesheet" href="{{ asset_url }}">
    {% endstylesheets %}
    <link rel="stylesheet" href="{{ asset('vendors/bootstrap-select/dist/css/bootstrap-select.min.css') }}"/>

{% endblock %}

{% block javascripts %}
    {% javascripts
    '@RudakBlogBundle/Resources/public/js/redactor.js' %}
    <script src="{{ asset_url }}"></script>
    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>

    <script type="text/javascript" src="{{ asset('vendors/bootstrap.file-input.js') }}"></script>
    <script type="text/javascript" src="{{ asset('public/js/own-redactor.js') }}"></script>

    <script type="text/javascript">
        $(function () {

            $("#rudak_blogbundle_post_content").ownRedactor('{{ own_token }}', '{{ entity.id }}');


            $('input[type=file]').bootstrapFileInput({
                title: 'Parcourir...'
            });

        });
    </script>
    {% endjavascripts %}
{% endblock %}