{% extends admin_layout %}

{% block layout %}
    <ol class="breadcrumb">
        <li>
            <a href="{{ path('rcmAdminIndex') }}">Administration</a>
        </li>
        <li>
            <a href="{{ path('admin_blog_post') }}">Articles</a>
        </li>
        <li class="active">Modifier un article</li>
    </ol>

    <p>
        {% if entity.picture %}
            <img
                    src="{{ entity.picture.getwebpath|imagine_filter('post_pict_show') }}"
                    alt="image_post_{{ entity.id }}"/>
        {% else %}
            <img
                    src="{{ 'uploads/post_images/no-image.jpg'|imagine_filter('post_pict_show') }}"
                    alt="no image"/>
        {% endif %}
    </p>
    {{ form(edit_form) }}

    <hr/>
    <p>
        <a href="{{ path('admin_blog_post') }}" class="btn btn-default">
            Retour a la liste
        </a>
    </p>

    {{ form(delete_form) }}

{% endblock %}

{% block stylesheets %}
    {% stylesheets
    '@RudakBlogBundle/Resources/public/css/redactor.css' %}
    <link rel="stylesheet" href="{{ asset_url }}">
    {% endstylesheets %}
{% endblock %}

{% block javascripts %}
    {% javascripts
    '@RudakBlogBundle/Resources/public/js/redactor.js' %}
    <script src="{{ asset_url }}"></script>
    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>
    <script type="text/javascript">
        $(function () {
            // http://imperavi.com/redactor/examples/
            $("#rudak_blogbundle_post_content").redactor({
                buttonSource: true,
                imageUpload: Routing.generate('admin_upload_picture'),
                imageUploadErrorCallback: function (json) {
                    alert(json.error);
                }
            });
        });
    </script>
    {% endjavascripts %}
{% endblock %}