{% extends admin_layout %}

{% block layout %}
    <h1>Post edit</h1>

    {{ form(edit_form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('admin_blog_post') }}">
            Back to the list
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}

{% block stylesheets %}
    {% stylesheets
    '@RudakBlogBundle/Resources/public/css/redactor.css' %}
    <link rel="stylesheet" href="{{ asset_url }}">
    {% endstylesheets %}
{% endblock %}

{% block javascripts %}
    {% javascripts
    '@RudakBlogBundle/Resources/public/js/redactor.js' %}
    <script src="{{ asset_url }}"></script>
    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>
    <script type="text/javascript">
        $(function () {
            // http://imperavi.com/redactor/examples/
            $("#rudak_blogbundle_post_content").redactor({
                buttonSource: true,
                imageUpload: Routing.generate('admin_upload_picture'),
                imageUploadErrorCallback: function (json) {
                    alert(json.error);
                }
            });
        });
    </script>
    {% endjavascripts %}
{% endblock %}