{% extends admin_layout %}

{% block layout %}
    <ol class="breadcrumb">
        <li>
            <a href="{{ path('rcmAdminIndex') }}">Administration</a>
        </li>
        <li class="active">
            <span class="badge">{{ entities|length }}</span>
            Articles
        </li>
    </ol>

    <p>
        <a href="{{ path('admin_blog_post_new') }}" class="btn btn-success btn-lg">
            Créer un nouvel article
        </a>
    </p>

    <table class="table">
        <thead>
        <tr>
            <th>Image</th>
            <th>Title</th>
            <th>Date</th>
            <th>Public</th>
            <th>Hit</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td>
                    {% if entity.picture %}
                        <img
                                src="{{ entity.picture.getwebpath|imagine_filter('post_pict') }}"
                                alt="image_post_{{ entity.id }}"/>
                    {% else %}
                        <img
                                src="{{ 'uploads/post_images/no-image.jpg'|imagine_filter('post_pict') }}"
                                alt="no image"/>
                    {% endif %}

                </td>
                <td>{{ entity.title }}</td>
                <td>{% if entity.date %}{{ entity.date|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>
                    {% if entity.locked %}
                        <span class="glyphicon glyphicon-lock"></span>
                    {% endif %}
                    {% if entity.public %}
                        <span class="label label-success">Oui</span>
                    {% else %}
                        <span class="label label-warning">Non</span>
                    {% endif %}
                </td>
                <td>
                    <span class="badge">
                    {{ entity.hit }}
                    </span>
                </td>
                <td>
                    <a href="{{ path('admin_blog_post_show', { 'id': entity.id }) }}" class="btn btn-default btn-xs">
                        Voir
                    </a>
                    <a href="{{ path('admin_blog_post_edit', { 'id': entity.id }) }}" class="btn btn-default btn-xs">
                        Modifier
                    </a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>



{% endblock %}
