{% extends 'RudakBlogBundle::layout.html.twig' %}

{% block layout %}

    <ol class="breadcrumb">
        <li>
            <a href="{{ path('rcmAdminIndex') }}">Administration</a>
        </li>
        <li class="active">
            Articles
        </li>
    </ol>


    <table class="table">
        <thead>
        <tr>
            <th>Titre</th>
            <th>Article créé le</th>
            <th></th>
            <th>Date de publication</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td>{{ entity.title }}</td>
                <td>{% if entity.date %}{{ entity.date|date('d/m/Y \\à H:i') }}{% endif %}</td>
                <td>
                    {% if entity.isPublic %}
                        <span class="label label-success">Visible</span>
                    {% else %}
                        <span class="label label-danger">Masqué</span>
                    {% endif %}
                </td>
                <td>{% if entity.publishDate %}{{ entity.publishDate|date('d/m/Y') }}{% endif %}</td>
                <td>
                    <a href="{{ path('admin_blog_post_show', { 'id': entity.id }) }}" class="btn btn-xs btn-default">
                        Voir
                    </a>
                    <a href="{{ path('admin_blog_post_edit', { 'id': entity.id }) }}" class="btn btn-xs btn-default">
                        Modifier
                    </a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <p>
        <a href="{{ path('admin_blog_post_new') }}" class="btn btn-primary">
            Ajouter un article
        </a>
    </p>
{% endblock %}
