{% extends admin_layout %}

{% block layout %}
    <h1>Post list</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Image</th>
                <th>Title</th>
                <th>Date</th>
                <th>Public</th>
                <th>Hit</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td>
                    {%  if entity.picture %}
                    <img
                            src="{{ entity.picture.getwebpath|imagine_filter('post_pict') }}"
                            alt="image_post_{{ entity.id }}"/>
                    {%  endif %}

                </td>
                <td>{{ entity.title }}</td>
                <td>{% if entity.date %}{{ entity.date|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>
                    {%  if entity.public %}
                        Oui
                    {% else %}
                        Non
                    {% endif %}
                </td>
                <td>{{ entity.hit }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('admin_blog_post_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('admin_blog_post_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('admin_blog_post_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    {% endblock %}
