{% extends admin_layout %}

{% block layout %}
    <ol class="breadcrumb">
        <li>
            <a href="{{ path('rcmAdminIndex') }}">Administration</a>
        </li>
        <li>
            <a href="{{ path('admin_blog_post') }}">Articles</a>
        </li>
        <li class="active">Créer un article</li>
    </ol>

    <div class="form_perso">

        {{ form_start(form) }}
        {{ form_errors(form) }}

        <div class="form-group">
            {{ form_label(form.title) }}
            {{ form_errors(form.title) }}
            {{ form_widget(form.title) }}
        </div>
        <div class="form-group">
            {{ form_label(form.hat) }}
            {{ form_errors(form.hat) }}
            {{ form_widget(form.hat) }}
        </div>
        <div class="form-group">
            {{ form_label(form.content) }}
            {{ form_errors(form.content) }}
            {{ form_widget(form.content) }}
        </div>
        <div class="form-group">
            {{ form_label(form.picture) }}
            {{ form_errors(form.picture) }}
            {{ form_widget(form.picture) }}
        </div>


        {{ form_end(form) }}

    </div>
{% endblock %}

{% block stylesheets %}
    {% stylesheets
    '@RudakBlogBundle/Resources/public/css/redactor.css' %}
    <link rel="stylesheet" href="{{ asset_url }}">
    {% endstylesheets %}
    <link rel="stylesheet" href="{{ asset('vendors/bootstrap-select/dist/css/bootstrap-select.min.css') }}"/>

{% endblock %}

{% block javascripts %}
    {% javascripts
    '@RudakBlogBundle/Resources/public/js/redactor.js' %}
    <script src="{{ asset_url }}"></script>
    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>

    <script type="text/javascript" src="{{ asset('vendors/bootstrap.file-input.js') }}"></script>
    <script type="text/javascript" src="{{ asset('public/js/own-redactor.js') }}"></script>

    <script type="text/javascript">
        $(function () {
            // http://imperavi.com/redactor/examples/
            $("#rudak_blogbundle_post_content").ownRedactor('{{ own_token }}', '{{ entity.id }}');


            $('input[type=file]').bootstrapFileInput({
                title: 'Parcourir...'
            });
        });
    </script>
    {% endjavascripts %}
{% endblock %}

