{% extends 'RudakBlogBundle::layout.html.twig' %}

{% block layout -%}
    <ol class="breadcrumb">
        <li>
            <a href="{{ path('rcmAdminIndex') }}">Administration</a>
        </li>
        <li>
            <a href="{{ path('admin_blog_post') }}">
                Articles
            </a>
        </li>
        <li class="active">
            Voir l'article
        </li>
    </ol>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ entity.title }}</td>
            </tr>
            <tr>
                <th>Slug</th>
                <td>{{ entity.slug }}</td>
            </tr>
            <tr>
                <th>Content</th>
                <td>{{ entity.content }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{{ entity.date|date('d/m/Y \\à H:i') }}</td>
            </tr>
            <tr>
                <th>Ispublic</th>
                <td>
                    {% if entity.isPublic %}
                        <span class="label label-success">Visible</span>
                    {% else %}
                        <span class="label label-danger">Masqué</span>
                    {% endif %}
                </td>
            </tr>
            <tr>
                <th>Publishdate</th>
                <td>{{ entity.publishDate|date('d/m/Y') }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('admin_blog_post') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('admin_blog_post_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
