<ul class="pgwSlider">
    {% for post in posts %}
        <li>
            <a href="{{ path('rudak_blog_post',{id:post.id,slug:post.title|slugit}) }}" target="_self">
                <img
                        src="{{ post.picture.getwebpath|default('')|imagine_filter('post_front_show') }}"
                        alt="{{ post.title|capitalize }}"
                        data-description="{{ post.hat|capitalize }}"/>

                <span>
                    {{ post.title|capitalize }}
                </span>
            </a>
        </li>
    {% endfor %}
</ul>