{% extends blog_layout %}

{% block title %}{{ parent() }} | Actualités{% endblock %}

{% block fb_title %}RCM | Actualités{% endblock %}
{% block fb_type %}article{% endblock %}
{% block fb_image %}{{ parent() }}{% endblock %}
{% block fb_description -%}
    Retrouvez toutes les actualités du RCM !
{%- endblock %}
{% block fb_url -%}
    {{ app.request.uri }}
{%- endblock %}

{% block content %}
    <h1 class="main_title">Actualités</h1>
    <div id="posts">
        {% for post in posts %}
            <div class="post">
                <a class="clearfix" href="{{ path('rudak_blog_post',{id:post.id,slug:post.slug}) }}"
                   title="{{ post.title }}">
                    <div class="img">
                        <img src="{{ post.picture.getwebpath|default('uploads/post_images/no-image.jpg')|imagine_filter('post_front_list') }}"
                             class="img-responsive"
                             alt="image_post_{{ post.id }}"/>

                    </div>
                    <div class="info_post">
                        <h1 class="title">{{ post.title|upper }}</h1>

                        <h2 class="hat hidden-xs">{{ post.hat|capitalize }}</h2>
                    </div>
                    <div class="date">
                        Posté le {{ post.date|date('d/m/Y \\à H:i') }}
                    </div>
                </a>
            </div>
        {% endfor %}
    </div>
    <nav>
        <ul class="pagination">
            {{ pagination|raw }}
        </ul>
    </nav>
{% endblock %}
