{% extends 'RudakBlogBundle::layout.html.twig' %}

{% block layout %}

    <div class="row">
        <div class="col-sm-6 col-md-8">
            <h1>Liste des posts</h1>
            {% for post in posts %}
                <div class="post">
                    <h2>{{ post.title }}</h2>

                    <p>
                        <small>
                            Posté le {{ post.date|date('d/m/Y') }} par {{ post.creatorName }}
                        </small>
                    </p>
                    <p>
                        <a href="{{ path('rudak_blog_post',{id:post.id,slug:post.slug}) }}" class="btn btn-default">
                            Lire cet article
                        </a>
                    </p>
                </div>
            {% endfor %}
            <hr/>
            <nav>
                <ul class="pagination">
                    {{ pagination|raw }}
                </ul>
            </nav>
        </div>
        <div class="col-sm-6 col-md-4">
            <h2>Prochain match</h2>
            <h2>Dernier match</h2>
            <h2>Classement</h2>
        </div>
    </div>


{% endblock %}
