{% extends blog_layout %}

{% block content %}
    <h1 class="main_title">Actualités</h1>

    <div id="post">

        <div class="clearfix">
            <p class="date pull-right">
                Article posté le {{ post.date|date('d/m/Y') }} par {{ post.creatorName|capitalize }}
            </p>
        </div>

        <h2 id="post_title">{{ post.title|capitalize }}</h2>
        {% if post.hat %}
            <p id="hat">{{ post.hat|capitalize }}</p>
        {% endif %}

        {% if post.picture %}
            <img src="{{ post.picture.getwebpath|imagine_filter('post_front_show') }}"
                 alt="image d'entete article {{ post.title }}"
                 class="img-responsive "
                 id="postHeaderImg"/>
        {% endif %}

        <div id="content">
            {{ post.content|raw }}
        </div>

        <div class="clearfix">
            <p class="pull-right">
                        <span class="label label-default">
                            Article consulté {{ post.hit }} fois.
                        </span>
            </p>
        </div>

        <hr/>
        <nav>
            <ul class="pager">
                <li class="previous">
                    <a href="{{ path('rudak_blog_prev_post',{id:post.id}) }}">&larr; Précédent</a>
                </li>
                <li class="next">
                    <a href="{{ path('rudak_blog_next_post',{id:post.id}) }}">Suivant &rarr;</a>
                </li>
            </ul>
        </nav>
    </div>
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('vendors/fancyBox/source/jquery.fancybox.css') }}"/>
{% endblock %}

{% block javascripts %}
    <script type="text/javascript" src="{{ asset('vendors/fancyBox/source/jquery.fancybox.js') }}"></script>
    <script type="text/javascript" src="{{ asset('vendors/fancyBox/lib/jquery.mousewheel.pack.js') }}"></script>

    <script type="text/javascript">
        $(function () {
            $('.fancybox').fancybox();
        });
    </script>
{% endblock %}