{% extends main_layout %}

{% block body %}
    <div class="row">
        <div class="col-sm-12 col-md-8 col-lg-9 article">
            {% if post.picture %}
                <img src="{{ post.picture.getwebpath|imagine_filter('post_front_show') }}" alt="image {{ post.title }}"
                     class="img-responsive postHeaderImg"/>
            {% endif %}

            <h1>{{ post.title|capitalize }}</h1>

            <div class="content">
                {{ post.content|raw }}
            </div>
            <hr/>
            <p>
                Posté le {{ post.date|date('d/m/Y') }} par {{ post.creatorName }}
                <br/>
                {{ post.hit }} {% if post.hit > 1 %}vues{% else %}vue{% endif %}
            </p>
            <hr/>
            <nav>
                <ul class="pager">
                    <li class="previous">
                        <a href="{{ path('rudak_blog_prev_post',{id:post.id}) }}">&larr; Précédent</a>
                    </li>
                    <li class="next">
                        <a href="{{ path('rudak_blog_next_post',{id:post.id}) }}">Suivant &rarr;</a>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="col-sm-12 col-md-4 col-lg-3">
            {{ render(controller('RudakBlogBundle:Default:getLastPosts')) }}
            {{ render(controller('RudakBlogBundle:Default:getPopularPosts')) }}
        </div>
    </div>
{% endblock %}