{% extends 'RudakBlogBundle::layout.html.twig' %}

{% block layout %}

    <ol class="breadcrumb">
        <li>
            <a href="{{ path('rcmAdminIndex') }}">Administration</a>
        </li>
        <li class="active">
            Catégories
        </li>
    </ol>


    <table class="table">
        <thead>
        <tr>
            <th>Name</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td>{{ entity.name }}</td>
                <td>
                    <a href="{{ path('admin_blog_category_show', { 'id': entity.id }) }}"
                       class="btn btn-xs btn-default">
                        Voir
                    </a>
                    <a href="{{ path('admin_blog_category_edit', { 'id': entity.id }) }}"
                       class="btn btn-xs btn-default">
                        Modifier
                    </a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <p>
        <a href="{{ path('admin_blog_category_new') }}" class="btn btn-primary">
            Ajouter une catégorie
        </a>
    </p>
{% endblock %}
