{% extends 'RudakBlogBundle::layout.html.twig' %}

{% block layout %}

    <ol class="breadcrumb">
        <li>
            <a href="{{ path('rcmAdminIndex') }}">Administration</a>
        </li>
        <li class="active">
            Commentaires
        </li>
    </ol>


    <table class="table">
        <thead>
        <tr>
            <th>Création</th>
            <th></th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td>{% if entity.date %}{{ entity.date|date('d/m/Y \\à H:i:s') }}{% endif %}</td>
                <td>{% if entity.isSignaled %}
                        <span class="label label-danger">Signalé</span>
                    {% endif %}
                </td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('admin_blog_comment_show', { 'id': entity.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('admin_blog_comment_edit', { 'id': entity.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('admin_blog_comment_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
{% endblock %}
