{% extends 'RudakBlogBundle::layout.html.twig' %}

{% block layout -%}
    <ol class="breadcrumb">
        <li>
            <a href="{{ path('rcmAdminIndex') }}">Administration</a>
        </li>
        <li>
            <a href="{{ path('admin_blog_comment') }}">
                Commentaires
            </a>
        </li>
        <li class="active">
            Voir le commentaire
        </li>
    </ol>

    <table class="table">
        <tbody>
        <tr>
            <th>Id</th>
            <td>{{ entity.id }}</td>
        </tr>
        <tr>
            <th>Date</th>
            <td>{{ entity.date|date('d/m/Y \\à H:i:s') }}</td>
        </tr>
        <tr>
            <th>Content</th>
            <td>{{ entity.content }}</td>
        </tr>
        <tr>
            <th>Signalé</th>
            <td>
                {% if entity.isSignaled %}
                    Oui
                {% else %}
                    Non
                {% endif %}
            </td>
        </tr>
        </tbody>
    </table>
    <p>
        <a href="{{ path('admin_blog_comment_edit', { 'id': entity.id }) }}" class="btn btn-primary">
            modifier
        </a>
    </p>

    {{ form(delete_form) }}
{% endblock %}
