{% extends 'RudakBlogBundle::layout.html.twig' %}

{% block layout %}
    <ol class="breadcrumb">
        <li>
            <a href="{{ path('rcmAdminIndex') }}">Administration</a>
        </li>
        <li class="active">
            Tags
        </li>
    </ol>

    <table class="table table-condensed">
        <thead>
        <tr>
            <th>Nom</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td>{{ entity.name }}</td>
                <td>
                    <a href="{{ path('admin_blog_tag_show', { 'id': entity.id }) }}" class="btn btn-xs btn-default">
                        Voir
                    </a>
                    <a href="{{ path('admin_blog_tag_edit', { 'id': entity.id }) }}" class="btn btn-xs btn-default">
                        Modifier
                    </a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <p>
        <a href="{{ path('admin_blog_tag_new') }}" class="btn btn-primary">
            Ajouter un tag
        </a>
    </p>
{% endblock %}
